::-moz-selection
{
    background: #ffca29;
}
::selection
{
    background: #ffca29;
}

body
{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;

    box-sizing: border-box;

    color: rgba(0,0,0,.8);
}

h1
{
    font-size: 80px;
    font-weight: 700;

    margin: 0;

    color: #04091a;
}

@media (min-width: 450px)
{
    h1
    {
        font-size: 106px;
    }
}

h2
{
    font-size: 28px;
    font-weight: 500;
}

p
{
    font-size: 18px;
    line-height: 28px;

    margin: 0 0 16px 0;

    color: rgba(0,0,0,.7);
}

p.role
{
    color: rgba(0,0,0,.34);
}

p.description,
p.role
{
    max-width: 520px;
}
p.lead
{
    font-size: 32px;
    line-height: 52px;

    margin-top: 8px;
    margin-bottom: 48px;
}

ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}

main ul
{
    font-size: 28px;
    line-height: 44px;
}

header ul
{
    display: flex;

    margin: 24px;
}

header ul li + li
{
    margin-left: 12px;
}



header ul li a svg
{
    fill: rgba(0,0,0,.35);
}

header ul li a:hover svg
{
    fill: rgba(0,0,0,.8);
}

main
{
    max-width: 1062px;
    margin: 140px auto;
    padding: 0 16px;
}

header.top
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    display: flex;

    align-items: flex-end;
    justify-content: flex-end;
}

.pink
{
    padding: 2px;

    color: #f36;
    border-radius: 2px;
}

.pink:hover
{
    color: #fff;
    background-color: #f36;
}

.purple
{
    padding: 2px;

    color: #91f;
    border-radius: 2px;
}

.purple:hover
{
    color: #fff;
    background-color: #91f;
}

.blue
{
    padding: 2px;

    color: #0af;
    border-radius: 2px;
}

.blue:hover
{
    color: #fff;
    background-color: #0af;
}

.grid
{
    display: grid;

    margin-top: 32px;

    grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

@media (min-width: 600px)
{
    .grid
    {
        grid-column-gap: 24px;
        grid-row-gap: 24px;
    }
}

.grid--single
{
    grid-template-rows: repeat(1, 1fr);
}

.grid--double
{
    grid-template-rows: repeat(2, 1fr);
}

.portfolio-item
{
    display: flex;

    min-height: 300px;
    max-height: 400px;

    background-color: #f9f9fb;

    align-items: center;
    justify-content: center;
}

.portfolio-item figure
{
    margin: 0;
    padding: 8px;
}

.bleed figure
{
    padding: 0;
}

.portfolio-item figure img
{
    max-width: 100%;
}

section + section
{
    margin-top: 80px;
}

@media (min-width: 450px)
{
    section + section
    {
        margin-top: 180px;
    }
}

video
{
    width: auto;
    height: 100%;
}
